
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Order Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            line-height: 1.5;
            color: #333333;
        }
        h1 {
            font-size: 24px;
            font-weight: normal;
            color: #333333;
            margin: 0 0 20px 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            border: 1px solid #dddddd;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        tfoot td {
            text-align: right;
            font-weight: bold;
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h3>Dear {{ detail.custName }},</h3>
    {% for item in sitesetting %}

    <h4>Your order has been received, you will receive a confirmation call shortly. You can review summary of your order below. </h4>
        <h5>Thank you for shopping with us. Contact us for any queries <a href="mailto:{{item.top_bar_left_email}}">here</a></h5>

        {% endfor %}


    <table>
        <tr>
            {% for item in sitesetting %}

            <td style="text-align: center; background-color: #f2f2f2; padding: 20px;">
                <img src="{{imageurl}}{{item.site_logo}}" alt="{{item.site_name}}" style="max-width: 200px;">
            </td>
            {% endfor %}

        </tr>
        <tr>
            <td style="padding: 20px;">
                
                <h2>Order Details For Order No {{detail.orderNo}}  </h2>
               
                
                <table>
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            
                            


                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order %}
                        <tr>
                            <td style="display: flex; align-items: center; justify-content: center; text-align: center;">
                                <div style="position: relative; width: 100px; height: 100px; overflow: hidden; border-radius: 10%;">
                                    <img src="{{item.image}}" alt="{{ item.name }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; margin: auto;">
                                </div>
                            </td>
                            <td>{{item.name}}</td>
                            <td>{{item.qty }}</td>
                            <td>{{item.salePrice }}</td>
                           
                        </tr>
                    {% endfor %}

                        <tfoot>
                            <tr>
                                <td colspan="3">Total:</td>
                                <td>{{detail.totalBill }}</td>
                            </tr>
                        </tfoot>
                    </tbody>
                 
                </table>
                <h2>Shipping Details:</h2>
               
                <table>
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>City</th>
                            <th>Address</th>
                            <th>Phone</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for item in ship %}
                        <tr>

                            <td>{{item.custName}}</td>
                            <td>{{item.custCity}}</td>
                            <td>{{item.shippingAddress }}</td>
                            <td>{{item.custPhone }}</td>

                        </tr>
                        
                        {% endfor %}
                    </tbody>
                 
                </table>
                <p>Thank you for shopping with us!</p>
            </td>
        </tr>
    </table>
    {% for item in sitesetting %}

    <footer style="background-color: #f6f6f6; padding: 20px; margin-top: 20px;">
        <div style="max-width: 600px; margin: 0 auto; font-size: 14px; color: #666;">
          <div style="text-align: center;">
            <a href="{{host}}" style="color: #666; text-decoration: none;">Continue Shopping</a>|
            <a href="{{host}}privacy-policy" style="color: #666; text-decoration: none;"> Privacy Policy</a>|
            <a href="{{host}}about-us" style="color: #666; text-decoration: none;">About Us</a>
          </div>
          <div style="text-align: center; margin-top: 10px;">
            <span style="color: #666;">{{item.site_name}}</span> |
            <a href="tel:+1234567890" style="color: #666; text-decoration: none;">{{item.top_bar_left_phone}}</a>
          </div>
          <div style="text-align: center; margin-top: 10px;">
            <a href="#" style="color: #666; text-decoration: none;">Join Us</a>
          </div>
          <div style="text-align: center; margin-top: 10px;">
            <a href={{item.facebook}} style="color: #666; text-decoration: none;">
              <img src="https://cdn.freebiesupply.com/images/large/2x/facebook-logo-circle-transparent.png" alt="Facebook" style="max-width: 30px;">
            </a>
            <a href={{item.twitter}} styule="color: #666; text-decoration: none;">
              <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="Twitter" style="max-width: 30px; margin-left: 10px;">
            </a>
            <a href={{item.instagram}} style="color: #666; text-decoration: none;">
              <img src="https://toppng.com/uploads/preview/instagram-logo-11545512111t0928udues.png" alt="Instagram" style="max-width: 30px; margin-left: 10px;">
            </a>
          </div>
        </div>
      </footer>
      {% endfor %}

      
</body>
</html>
